flyway:
  baseline-on-migrate: true
  schemas: fbc_media

spring:
  profiles:
    active: "local"
  jackson:
    serialization:
      write_dates_as_timestamps: false
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    database: postgresql
    properties:
        hibernate:
          default_schema: fbc_media
          dialect: com.mattmartin.faithbible.audiosearchapi.db.config.JSONPostgresSQLDialect

---

spring:
  profiles: local
  data:
    elasticsearch:
      properties:
        path.home: target/elastic
        transport.tcp.connect_timeout: 120s
  datasource:
    platform: postgres
    url: jdbc:postgresql://fbc-media-pg-dev.cl77vpoxztkj.us-east-1.rds.amazonaws.com:5432/fbc_media_data
    username: fbc_svc_user
    password: cloudCAPTAIN
    #url: jdbc:postgresql://localhost:5432/fbc_media_data
    #username: fbc_svc_user
    #password: devpassword
    driver-class-name: org.postgresql.Driver

---

spring:
  profiles: localDocker
  data:
    jest:
      uri: https://vpc-fbc-audio-nmdhsw47abfn4qogfcts76w2r4.us-east-1.es.amazonaws.com
  datasource:
        platform: postgres
        url: jdbc:postgresql://fbc-media-pg-dev.cl77vpoxztkj.us-east-1.rds.amazonaws.com:5432/fbc_media_data
        username: fbc_svc_user
        password: cloudCAPTAIN
        driver-class-name: org.postgresql.Driver

---

spring:
  profiles: dev
  data:
    jest:
      uri: https://vpc-fbc-media-dev-to2lwbgdzuad2d5fbfgdh3ql6i.us-east-1.es.amazonaws.com
  datasource:
      platform: postgres
      url: jdbc:postgresql://fbc-media-pg-dev.cl77vpoxztkj.us-east-1.rds.amazonaws.com:5432/fbc_media_data
      username: fbc_svc_user
      password: cloudCAPTAIN
      driver-class-name: org.postgresql.Driver